.footer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 6rem;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
		1deg,
		rgba(255, 237, 237, 0.85),
		rgba(255, 255, 255, 0) 14rem
	);
}

.footer > span {
	color: red;
	font-weight: 600;
}
.social {
	display: flex;
	gap: 1rem;
	color: red;
}
